@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body {
  background-color: #134832;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.timer-digit {
  text-align: center;
  padding: 0 20px 0 20px;
}

.timer-digit > h1 {
  font-family: 'Space Mono', monospace;
  font-size: 6rem;
}

.timer-digit > p {
  text-transform: uppercase;
}

.timer-container {
  width: 70%;
  max-width: 600px;
  margin: 20px auto 0px auto;
}

.timer-container > :not(:last-child) {
  border-right: 1.5px solid #fff;
}

.gsb-nav .nav-link {
  padding: 0.25rem 0.35rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.gsb-nav .nav-link:hover,
.gsb-nav .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.gsb-nav .active {
  color: #fff;
  border-bottom-color: #fff;
}


