@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

.centered-header {
  max-width: 700px;
}

.spacer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 40%;
}

h1 {
  font-family: "Jost", sans-serif;
}

h3 + p, h3 + ul {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 2rem;
}

.numbers {
  font-family: 'Courier Prime', monospace;
}

.jumbotron {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.announce {
  color: rgb(73, 1, 39);
  text-shadow: 3px 3px rgb(210, 124, 2);
  font-family: "Jost", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}