<!DOCTYPE html>
<html lang="en-US" class="h-100">
  {{ partial "head.html" . }}
  <body class="h-100 d-flex align-items-center justify-content-center">
    <main class ="container">
      <p class="display-3">You tried to access a page that doesn't exist.</h1>
      <p class="lead text-muted text-center">
        To
        <a
          href="https://i.pinimg.com/originals/6a/ff/e7/6affe715379ae38e72dd430ca22e6f68.jpg"
          >fix</a
        >
        this problem, simply don't.
      </p>
    </main>
  </body>
</html>
