{{ define "main" }}
<section class="row timer-container">
	<div class="col-sm-3 timer-digit">
		<h1 id="timerDays">bleep!</h1>
		<p class="lead">days</p>
	</div>
	<div class="col-sm-3 timer-digit">
		<h1 id="timerHours">bleep!</h1>
		<p class="lead">hours</p>
	</div>
	<div class="col-sm-3 timer-digit">
		<h1 id="timerMinutes">bleep!</h1>
		<p class="lead">minutes</p>
	</div>
	<div class="col-sm-3 timer-digit">
		<h1 id="timerSeconds">bleep!</h1>
		<p class="lead">seconds</p>
	</div>
</section>
{{ end }}