{{ define "main" }}
<div class="container text-center">
  <h1 class="announce my-2 display-1">Girton Spring Ball 2022</h1>
  <p class="lead">
    We've temporarily simplified our website to support you, our guests, with the most useful information before the
    ball.
  </p>
</div>
<div class="my-4 mx-auto px-2" style="max-width: 768px;">
  <h2>Essentials on the night</h2>
  <div class="row justify-content-around mt-4">
    <div class="col-sm-auto text-center">
      <a href="/files/gsb-2022-programme.pdf" class="btn btn-primary btn-lg mb-sm-none mb-3" style="background-color: rgb(172, 31, 20); border: none;"><i class="bi-book me-2"></i>Programme</a>
    </div>
    <div class="col-sm-auto text-center">
      <a href="/files/gsb-2022-menu.pdf" class="btn btn-primary btn-lg mb-sm-none mb-3" style="background-color: rgb(210, 124, 21); border: none;"><i class="bi-list me-2"></i>Food menu</a> 
    </div>
    <div class="col-sm-auto text-center">
      <a href="/files/gsb-2022-map.jpg" class="btn btn-primary btn-lg" style="background-color: rgb(73, 1, 39); border: none;"><i class="bi-map me-2"></i>Map</a>
    </div>
</div>
  {{ .Content }}
</div>
{{ partial "spacer" . }}
<section>
  <div class="centered-header pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold" id="socials" style="color: rgb(49, 153, 192); text-shadow: 3px 3px rgb(172, 31, 20)">
      Socials
    </h1>
    <p class="fs-5 text-muted">Follow us on our socials!</p>
  </div>
  <div class="container text-center">
    <ul class="d-flex align-items-center flex-column ps-0 mb-0">
      <li class="d-flex flex-row flex-nowrap align-items-center">
        <img src="/images/finger.png" />
        <i class="bi-instagram me-2"></i><a href="https://www.instagram.com/girtonspringball2022"
          target="_blank">Instagram</a>
      </li>
      <li class="d-flex flex-row flex-nowrap align-items-center">
        <img src="/images/finger.png" />
        <i class="bi-facebook me-2"></i>
        <a href="https://www.facebook.com/girtonspringball2022" target="_blank">Facebook</a>
      </li>
    </ul>
  </div>
</section>
{{ end }}